<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="id.trydev.sabuba">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_new"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_new"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Imunisasi.ImunisasiActivity">
        </activity>
        <activity android:name=".ChatDokter.NewChat.NewChatDokterActivity">
        </activity>
        <activity android:name=".ChatDokter.ChatDetail.ChatDetailActivity">
        </activity>
        <activity android:name=".DokterMenu.DokterActivity">
        </activity>
        <activity android:name=".ChatDokter.ChatDokterActivity">
        </activity>
        <activity android:name=".BalitaSakit.DetailBalitaSakitActivity">
        </activity>
        <activity android:name=".BalitaSakit.BalitaSakitActivity">
        </activity>
        <activity android:name=".Galeri.Detail.GaleriDetailActivity">
        </activity>
        <activity android:name=".Galeri.GaleriActivity">
        </activity>
        <activity
                android:name=".DeteksiDini.DeteksiDiniActivity"
                android:theme="@style/NoActionBar">
        </activity>
        <activity android:name=".Menu.MenuActivity">
        </activity>
        <activity
                android:name=".Register.RegisterActivity"
                android:theme="@style/NoActionBar"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".Login.LoginActivity"
                android:theme="@style/NoActionBar"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".SplashActivity"
                android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>